.footerContainer {
    padding: 10px 24px;
    width: 100%;
}

.socialMediaContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.socialMediaContainer > div > svg {
    color: #a7a7a7;
    margin-left: 10px;
    cursor: pointer;
    transition: all ease-in 0.3s;
    width: 40px;
    height: 40px;
}

.socialMediaContainer > div > svg:hover {
    color: #1976d2;
    transform: scale(1.1);
}

.footerContainer > h6 {
    color: #a7a7a7 !important;
}

@media (max-width: 600px) {
    .footerContainer > h6 {
        margin-top: 10px;
    }
}