/* general */
.container {
  padding: 50px;
  max-width: 1500px;
  margin: 0 auto;
  min-height: calc(100vh - 64px - 98px);
}

.alignVertical {
  display: flex;
  align-items: center;
}

.container section:not(:last-child) {
  margin-bottom: 50px;
}

/* NavBar */
.MuiAppBar-root {
  transition: all 0.2s ease-in-out !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.transparent .MuiButton-label,
.transparent .MuiSvgIcon-root {
  color: white !important;
}

.menuApp {
  display: none !important;
  margin-left: -5px !important;
}

/* Sections */
.section-title {
  margin-bottom: 20px !important;
  font-weight: 100 !important;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .MuiButtonBase-root.hideMobile {
    display: none !important;
  }

  .menuApp {
    display: inline-flex !important;
  }
}

/* FRAMER MOTION PRUEBA */

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}