.root {
    display: flex;
    height: 100vh;
}

.drawer {
    color: inherit;
}

/* MenuLeft */

.userToolbar {
    display: flex !important;
    padding: 10px;
    justify-content: space-between;
}

.inputSearchContainer {
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    align-items: center;
}

.inputSearchContainer > input {
    height: 100%;
    display: flex;
    margin: 0ex;
    flex-grow: 1;
    border: 0;
    background: inherit;
    outline-width: 0;
}

.listItemUser {
    padding: 0 10px 0 20px !important;
}

.listTextUser {
    margin: 0 !important;
    margin-left: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
}

.dividerUser {
    margin-top: 10px;
}

/* Lists Friends */
.listAdd {
    display: flex !important;
    justify-content: space-between !important;
    margin-left: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
    flex-grow: 1;
    align-items: center;
}

/* appBar */
.textAppBar {
    margin-left: 10px !important;
    display: flex;
    flex-grow: 1;
}

/* User configuration */
.avatarUser {
    cursor: pointer;
    width: 150px !important;
    height: 150px !important;
    margin: 20px auto 0 auto;
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Home */
.indexChat {
    height: 100%;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.created_by {
    display: flex;
    align-items: center;
}

.created_by svg {
    margin-right: 10px;
}

.drawerPaper {
    width: 400px;
}

.content {
    height: 100%;
    flex-grow: 1;
}

/* CHAT */

.chatContainer {
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.chatContainer > div:not(:first-child) {
    margin-top: 5px;
}

.message {
    position: relative;
    padding: 6px 7px 8px 9px;
    border-radius: 6px;
    width: auto;
    max-width: 70%;
}

.footerMessage {
    display: flex;
    justify-content: right;
}

.footerMessage > h6 {
    font-size: 12px;
}

.message > h6 {
    display: inline-block;
    margin-right: 60px;
    word-wrap: anywhere;
}

.messageLeft {
    margin-right: auto;
    background: #78bbff;
    margin-left: 5px;
}

.messageRigth {
    margin-left: auto;
    background: #e3edf2;
    margin-right: 5px;
}

.messageLeft.FirstMessage:not(:first-child),
.messageRigth.FirstMessage:not(:first-child) {
    margin-top: 20px !important;
}

.messageLeft.FirstMessage::before {
    content: " ";
    border-style: solid;
    position: absolute;
    top: 0px;
    left: -25px;
    border-width: 0px 15px 15px 15px;
    border-color: transparent #78bbff transparent transparent;
}

.messageRigth.FirstMessage::before {
    content: " ";
    border-style: solid;
    position: absolute;
    top: 0;
    right: -25px;
    border-width: 0px 15px 15px 15px;
    border-color: transparent transparent transparent #e3edf2;
}

.inputNewMessage {
    padding: 20px;
}

.inputNewMessage > input {
    background-color: #f1f1f1;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

.dateIndicator {
    margin: 0 auto;
    padding: 2px 15px;
    margin-top: 20px !important;
}

/* RESPONSIVE */

@media (min-width: 600px) {
    .drawer {
        width: 400px;
        display: flex;
        flex-shrink: 0;
    }
}
